<div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  
<p id="notice"></p>

<h2>Editing Book</h2>

<% if @book.errors.any? %>
  <%= @book.errors.count %>error prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @book do |f| %>

  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Opinion</h4>
  <%= f.text_area :body %>
  <div class="form-group">
  <%= f.submit 'Update Book', class: "btn btn-success" %>
  </div>
<% end %>

<%= link_to 'Show', book_path(@book.id) %> |
<a class="Back" href="/books">Back</a>

</div>